<!DOCTYPE html>
<html>
  <head>
    <title>Mini Messageboard | Internal Server Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="404.css" />
  </head>
  <body>
    <h1>Oops! Something went wrong.</h1>
    <p><%= message %></p>
    <a href="/">Go back to the homepage</a>
  </body>
</html>
