<html>
  <head>
    <title>Mini Messageboard | Page not found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="404.css" />
  </head>
  <body>
    <h1>404 - Page Not Found</h1>
    <p>Sorry, we couldn't find the page you were looking for: <%= url %></p>
    <a href="/">Go back to the homepage</a>
  </body>
</html>
